<mat-card-content fxFlex class="mt-3 green-top-border">
  <div fxLayout="column" fxFlex.lt-md="100" fxFlex.md="60" fxFlexOffset.md="20" fxFlex.gt-md="30" fxFlexOffset.gt-md="30">
    <mat-card fxLayout="column" fxLayoutGap="5px" class="mt-3 mat-elevation-z2 p-0 ">


      <div fxFlex fxLayout="row" class="confirmation-icon-container">
        <div fxFlexOffset="32">
          <mat-icon class="material-icons-outlined primary-color confirmation-icon"> verified_user</mat-icon>
        </div>
      </div>
      <div fxFlex class="text-center mt-3">
        <h1 class="primary-color">Thank You !!</h1>

        <h2>We will get back to you soon </h2>
      </div>
      <div fxFlex="100" fxLayoutAlign="center" class="mb-3">
        <button class="mt-3" fxFlex="30" mat-raised-button color="primary" (click)="openPaymentDialog()">
          {{'common.commands.Finish'|translate}}
        </button>
      </div>


    </mat-card>


  </div>


</mat-card-content>
