<div class="page-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Business</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="generalBusinessForm" novalidate (ngSubmit)="onSubmit()" fxLayout="column" autocomplete="off">
        <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em">
          <mat-form-field>
            <!-- <mat-label>{{'registration.editor.ServiceNumber' | translate}}</mat-label> -->
            <mat-label>Previous registration date</mat-label>
            <input matInput [matDatepicker]="RegistrationDate" formControlName="RegistrationDate"
              placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="RegistrationDate"></mat-datepicker-toggle>
            <mat-datepicker #RegistrationDate></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'general.PreviousEnrollmentNumber' | translate }}</mat-label>
            <input matInput id="PreviousEnrollmentNumber" formControlName="PreviousEnrollmentNumber"
              placeholder="Previous Enrollment Number" />
          </mat-form-field>
          <mat-form-field>
             <mat-label>{{'general.ArchiveNumber' | translate }}</mat-label>
            <input matInput id="" formControlName="ArchiveNumber" placeholder="Archive Number" />
          </mat-form-field>

          <mat-form-field>
             <mat-label>{{'general.ArchiveNumber' | translate }}</mat-label>
            <input matInput id="CompanyName" formControlName="CompanyName" placeholder="Company Name" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'investors.editor.CompanyName' | translate }}</mat-label>
            <input matInput id="CompanyName" formControlName="CompanyName" placeholder="Company Name" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'investors.editor.CompanyNameEng' | translate }}</mat-label>
            <input matInput id="CompanyNameEng" formControlName="CompanyNameEng" placeholder="Company Name English" />
          </mat-form-field>
          <mat-form-field>
              <mat-label>{{'investors.editor.CompanyNameRegion' | translate }}</mat-label>
            <input matInput id="CompanyNameRegion" formControlName="CompanyNameRegion"
              placeholder="Company Name Regional" />
          </mat-form-field>
          <mat-form-field>
              <mat-label>{{'general.SignedCapital' | translate }}</mat-label>
            <input matInput id="SignedCapital" formControlName="SignedCapital" placeholder="Signed Capital" />
          </mat-form-field>
          <mat-form-field>
             <mat-label>{{'investors.editor.PaidCapital' | translate }}</mat-label>
            <input matInput id="PaidCapital" formControlName="PaidCapital" placeholder="Paid Capital" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'investor.editor.SingleShareValue' | translate }}</mat-label>
            <input matInput id="StockValue" formControlName="StockValue" placeholder="Single Share Value" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>The Role of the Ethiopian People</mat-label>
            <input matInput id="EthiopianPeople" formControlName="EthiopianPeople" placeholder="Ethiopian People" />
          </mat-form-field>
          <mat-form-field>
            <!-- BudgetCatagory -->
              <mat-label>{{'investor.editor.BudgetCatagory' | translate }}</mat-label>
            <input matInput id="BudgetCategory" formControlName="BudgetCategory" placeholder="Budget Category" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'investor.editor.RegistrationStatus' | translate }}</mat-label>
            <input matInput id="Status" formControlName="Status" placeholder="Status" />
          </mat-form-field>
        </div>
        <br>
        <!-- <div fxFlayout="row wrap">
          <h5>Status</h5>
        </div> -->
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="1">
          <mat-label fxFlex="100">{{'investor.editor.BusinessType' | translate }}</mat-label>
          <label *ngFor="let business of businessTypes;index as i" fxFlex="50">
            <mat-checkbox [checked]="business.checked" (change)="addBusinessCategory($event,business.id,i)">
              {{ business.name }}
            </mat-checkbox>
          </label>
        </div>

      </form>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center end">
      <button mat-raised-button color="primary" (click)="saveBusiness()">Save</button>
      <button mat-raised-button color="warn" (cancel)="cancel()">Cancel</button>
    </mat-card-actions>

  </mat-card>
</div>
