
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayout="row">
        <div fxFlex="30"> <span>{{'payment.Invoice' | translate}}</span></div>
        <div fxFlex >
          <div fxLayoutAlign="end" fxLayoutGap="4px">
            <button  mat-button><mat-icon>print</mat-icon></button>
            <button  mat-button><mat-icon>save</mat-icon></button>
          </div>

        </div>

      </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-3">

    <h2>Invoice goes here</h2>


    </div>
    <mat-divider></mat-divider>
    <div class="mr-2" fxLayoutAlign="end" mat-dialog-actions>
      <button type="button"
              mat-raised-button
              color="primary"
              (click)="goToConfirmation()"
      >

        {{'common.commands.Finish' |translate}}

      </button>
    </div>


