<mat-card-content class="mt-3  green-top-border">
  <mat-card fxLayout="column" fxFlex="60" fxFlexOffset="20" fxLayoutGap="5px"  class="mt-3 " >
    <mat-list>
      <mat-list-item class="mb-2">
        <div fxFlex="70">fads</div>
        <div fxFlex>

          <button mat-raised-button color="primary" fxFlexAlign="end">
            <mat-icon>cloud_upload</mat-icon>
            Upload
          </button>
        </div>
      </mat-list-item>
      <mat-divider class="mb-2" style="position: relative"></mat-divider>
      <mat-list-item class="mb-2">
        <div fxFlex="70">fads</div>
        <div fxFlex>

          <button mat-raised-button color="primary" fxFlexAlign="end">
            <mat-icon>cloud_upload</mat-icon>
            Upload
          </button>
        </div>
      </mat-list-item>
      <mat-divider class="mb-2" style="position: relative"></mat-divider>
      <mat-list-item class="mb-2">
        <div fxFlex="70">fads</div>
        <div fxFlex>

          <button mat-raised-button color="primary" fxFlexAlign="end">
            <mat-icon>cloud_upload</mat-icon>
            Upload
          </button>
        </div>
      </mat-list-item>
      <mat-divider class="mb-2" style="position: relative"></mat-divider>
      <mat-list-item class="mb-2">
        <div fxFlex="70">fads</div>
        <div fxFlex>

          <button mat-raised-button color="primary" fxFlexAlign="end"  type="button" (click)="openFileUploadDialog()">
            <mat-icon>cloud_upload</mat-icon>
            Upload
          </button>
        </div>
      </mat-list-item>
      <mat-divider class="mb-2" style="position: relative"></mat-divider>
    </mat-list>
  </mat-card>

</mat-card-content>
