<div class="page-content mat-elevation-z8"   fxLayout="column" fxLayoutAlign="center center">
    <div style="width:700px; margin-left:-200px; margin-right:-200px">
    <app-content-header 
                [icon]="'desktop_access_disabled'" 
                [title]="'Access Denied'" 
                [hasBgImage]="true" 
                [class]="'py-4'">
      </app-content-header>
    </div>    
    <!-- <div style = "margin-top: 50px">
        <mat-icon class="mat-icon-lg vertical-center">map</mat-icon>
        <h1 class="vertical-center" style="margin: 0; color: red">Access Denied</h1>
    </div> -->
    <br>
    <p style="margin: 0; color: red; font-weight: bold">Sorry. You are not authorized to access this resource.</p>
    <br>
    <br>

    <button mat-raised-button color="primary" (click)="goHome()"    style = "margin-bottom: 50px">
            <span >
                    <mat-icon matSuffix="" color="primary" class="mat-24">home</mat-icon>
                    
            </span>
            
            <!-- <span>Back to Home</span> -->
    </button>
    <br>
</div>