
<app-breadcrumb [title]="'Registration'"></app-breadcrumb>
<mat-tab-group [selectedIndex]="selectedIndex" class="tab-margin">
  <mat-tab label="Commercial Registration">
    <mat-icon>home</mat-icon>
    <ng-template matTabContent>
       <app-service-register> </app-service-register>
    </ng-template>
  </mat-tab>
  <mat-tab label="Document">
    <ng-template matTabContent>
       <app-registration-document> </app-registration-document>
    </ng-template>
  </mat-tab>
   <mat-tab label="Payment">
    <ng-template matTabContent>
      <app-payment></app-payment>
    </ng-template>
  </mat-tab>
  <mat-tab label="Business Registration">
    <ng-template matTabContent>
      <app-general></app-general>
    </ng-template>
  </mat-tab>
</mat-tab-group>