
mat-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 0px !important;
    border-radius: 2px;
  }
  
  span {
    font-size: 12px;
    color: steelblue;
    background-color:transparent;
    display: inline-block;
    cursor: pointer; 
  }

.mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

.mat-column-ManagerId {
  flex: 0 0 15% !important;
  min-width: 50px !important;
}
.mat-column-Gender {
  flex: 0 0 10% !important;
  min-width: 50px !important;
}
.mat-column-FullNameEng {
  flex: 0 0 20% !important;
  min-width: 120px !important;
}
.mat-column-FullName {
  flex: 0 0 20% !important;
  min-width: 120px !important;
}
.mat-column-Nationality {
  flex: 0 0 15% !important;
  min-width: 80px !important;
}
.mat-column-Actions {
  flex: 0 0 20% !important;
  min-width: 80px !important;
}