<mat-card-content class="mt-3  green-top-border">
  <div fxLayout="column" fxFlex.gt-md="60" fxFlexOffset.gt-md="20">
    <mat-card fxLayoutGap="5px" class="mt-3 ">
      <mat-list>
        <mat-list-item class="mb-2">
          <div fxFlex="70">enim ad minim veniam, quis nostrud exercitation </div>
          <div fxFlex>

            <button mat-raised-button color="primary" fxFlexAlign="end" type="button" (click)="openFileUploadDialog()">
              <mat-icon>cloud_upload</mat-icon>
              {{'common.commands.Upload'  | translate}}
            </button>
          </div>
        </mat-list-item>
        <mat-divider class="mb-2" style="position: relative"></mat-divider>
        <mat-list-item class="mb-2">
          <div fxFlex="70">enim ad minim veniam, quis nostrud exercitation <mat-icon color="primary">check_circle</mat-icon></div>
          <div fxFlex>

            <button mat-raised-button color="primary" fxFlexAlign="end" type="button" (click)="openFileUploadDialog()">
              <mat-icon>cloud_upload</mat-icon>
              {{'common.commands.Upload'  | translate}}
            </button>
          </div>
        </mat-list-item>
        <mat-divider class="mb-2" style="position: relative"></mat-divider>
        <mat-list-item class="mb-2">
          <div fxFlex="70">enim ad minim veniam, quis nostrud exercitation</div>
          <div fxFlex>

            <button mat-raised-button color="primary" fxFlexAlign="end" type="button" (click)="openFileUploadDialog()">
              <mat-icon>cloud_upload</mat-icon>
              {{'common.commands.Upload'  | translate}}
            </button>
          </div>
        </mat-list-item>
        <mat-divider class="mb-2" style="position: relative"></mat-divider>
        <mat-list-item class="mb-2">
          <div fxFlex="70">enim ad minim veniam, quis nostrud exercitation <mat-icon color="primary">check_circle</mat-icon></div>
          <div fxFlex>

            <button mat-raised-button color="primary" fxFlexAlign="end" type="button" (click)="openFileUploadDialog()">
              <mat-icon>cloud_upload</mat-icon>
              {{'common.commands.Upload'  | translate}}
            </button>
          </div>
        </mat-list-item>
        <mat-divider class="mb-2" style="position: relative"></mat-divider>
      </mat-list>
    </mat-card>
    <div fxFlex="100" fxLayoutAlign="end" class="mt-2" fxLayoutGap="5px">
      <button mat-raised-button color="warn" awPreviousStep>  {{'common.commands.Back' | translate}}</button>
      <button [disabled]="false" type="button" (click)="goToPayment()" mat-raised-button
              color="primary">{{'common.commands.Next' | translate}}</button>
    </div>
  </div>
</mat-card-content>
