<div >
  <form [formGroup]="paymentForm">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>{{'payment.Header' | translate}}</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content style="font-size: 14px;margin: 20px;">
      <h3>{{'registration.editor.Tin' | translate}} : 634563465</h3>

      <h3>{{'payment.totalAmount'|translate}} <span>: 870 Birr</span></h3>

      <mat-divider></mat-divider>
      <mat-form-field>
        <mat-label>{{'payment.receiptNo' | translate}}</mat-label>

        <input matInput formControlName="ReferenceNo" placeholder="">

      </mat-form-field>


    </div>
    <mat-divider></mat-divider>
    <div class="mr-2" fxLayoutAlign="end" mat-dialog-actions>
      <button  mat-button mat-dialog-close>{{'common.commands.Cancel' |translate}}</button>
      <button type="button" [disabled]="paymentForm.invalid"
        mat-raised-button
        color="primary"
        (click)="savePayment()"
      >

         {{'payment.pay'  | translate}}

      </button>
    </div>
  </form>

</div>
