<div fxLayout="row" class="p-5 mt-5">
  <mat-card fxFlex="100" class="mt-5">
    <mat-card-header>
      {{exitStepOne}}
      <div mat-card-avatar></div>
      <mat-card-title>{{'pageHeader.businessLicense' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'subTitle.fillInformation' | translate}}</mat-card-subtitle>
    </mat-card-header>

    <aw-wizard #step  [navBarLayout]="'large-empty-symbols'">
      <aw-wizard-step stepTitle="Title of step 1">
        <ng-template awWizardStepTitle>
          <span>{{'registration.management.GeneralInformation'| translate }}</span>
        </ng-template>
        <ng-template awWizardStepSymbol>
          <mat-icon>account_circle</mat-icon>
        </ng-template>
        <app-general-information [wizard]="step" (exitStepOne)="exited($event)"></app-general-information>

      </aw-wizard-step>
      <aw-wizard-step stepTitle="Title of step 2" >
        <ng-template awWizardStepTitle>
          <span>{{'registrationAddress.management.RegistrationAddressName'| translate }}</span>
        </ng-template>
        <ng-template awWizardStepSymbol>
          <mat-icon>location_on</mat-icon>
        </ng-template>
        <app-work-address *ngIf="exitStepOne"></app-work-address>
      </aw-wizard-step>
    </aw-wizard>
  </mat-card>
</div>
