 <mat-card class="mat-elevation-z8">
   <mat-card-header>
     <mat-card-title>User Profile</mat-card-title>
   </mat-card-header>
   <mat-card-content>
     <form [formGroup]="ProfileForm" novalidate (ngSubmit)="onSubmit()" fxLayout="column" autocomplete="off">
       <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="service-registration">
         <mat-form-field>
           <mat-label>{{'registration.editor.Tin' | translate}}</mat-label>
           <input matInput id="Tin" formControlName="Tin" required placeholder="Tin Number" />
           <mat-error *ngIf="Tin.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error>
           <mat-error *ngIf="!Tin.hasError('required') && Tin.hasError('minlength')">
             {{'common.validation.MinLengthChar' | translate: {'min':'2'} }}
           </mat-error>
           <mat-error *ngIf="!Tin.hasError('required') && Tin.hasError('maxLength')">
             {{'common.validation.MaxLengthChar' | translate: {'min':'2'} }}
           </mat-error>
         </mat-form-field>
       </div>
       <!---END OF Name In NAME In ENGLISH SECTION-->
       <!--- NAME In ENGLISH SECTION-->
       <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="profile-registration">
         <mat-form-field fxLayoutGap="4em" class="col4">
           <mat-label>{{'investors.editor.Title' | translate}}</mat-label>
           <mat-select formControlName="Title">
             <mat-option *ngFor="let title of titleList" [value]="title.Id">
               {{title.Description}}
             </mat-option>
           </mat-select>
         </mat-form-field>
         <mat-form-field fxLayoutGap="4em" class="col4">
           <mat-label>{{'investors.editor.Gender' | translate}}</mat-label>
           <mat-select formControlName="Gender" required>
             <mat-option *ngFor="let gender of genders" [value]="gender.Id">
               {{gender.Desc}}
             </mat-option>
           </mat-select>
           <mat-error *ngIf="Gender.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error>
         </mat-form-field>
         <mat-form-field fxLayoutGap="4em">
           <mat-label>{{'investors.editor.Nationality' | translate}}</mat-label>
           <mat-select formControlName="Nationality" required>
             <mat-option *ngFor="let country of countryList" [value]="country.Id">
               <span>{{country.Description}}</span>
             </mat-option>
           </mat-select>
           <mat-error *ngIf="Nationality.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error>
         </mat-form-field>
         <mat-form-field>
           <mat-label>{{'investors.editor.BirthDate' | translate}}</mat-label>
           <input matInput id="BirthDate" [matDatepicker]="BirthDate" formControlName="BirthDate" required
             placeholder="Birth Name" />
           <mat-datepicker-toggle matSuffix [for]="BirthDate"></mat-datepicker-toggle>
           <mat-datepicker #BirthDate></mat-datepicker>
           <!-- <mat-error *ngIf="BirthDate.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error> -->
         </mat-form-field>
       </div>
       <!--- Name In Amharic Form Section-->
       <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="profile-registration">
         <mat-form-field>
           <mat-label>{{'investors.editor.FirstName' | translate}}</mat-label>
           <input matInput id="FirstName" formControlName="FirstName" required placeholder="Name" />
           <mat-error *ngIf="FirstName.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error>
         </mat-form-field>
         <mat-form-field>
           <mat-label>{{'investors.editor.FatherName' | translate}}</mat-label>
           <input matInput id="FatherName" formControlName="FatherName" required placeholder="Father's Name" />
           <mat-error *ngIf="FatherName.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error>
         </mat-form-field>
         <mat-form-field>
           <mat-label>{{'investors.editor.GrandName' | translate}}</mat-label>
           <input matInput id="GrandName" formControlName="GrandName" required placeholder="Grand Father's Name" />
           <mat-error *ngIf="GrandName.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error>
         </mat-form-field>
         <mat-form-field>
           <mat-label>{{'investors.editor.MotherName' | translate}}</mat-label>
           <input matInput id="MotherName" formControlName="MotherName" required placeholder="Mother's Name" />
           <!-- <mat-error *ngIf="MotherName.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error> -->
         </mat-form-field>
       </div>
       <!---END OF Name In Amharic Form Section-->
       <!--- NAME In ENGLISH SECTION-->
       <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="profile-registration">
         <mat-form-field>
           <mat-label>{{'investors.editor.FirstNameEng' | translate }}</mat-label>
           <input matInput id="FirstNameEng" formControlName="FirstNameEng" required placeholder="Name" />

         </mat-form-field>
         <mat-form-field>
           <mat-label> {{'investors.editor.FatherNameEng' | translate }} </mat-label>
           <input matInput id="FatherNameEng" formControlName="FatherNameEng" required placeholder="Father's Name" />

         </mat-form-field>
         <mat-form-field>
           <mat-label> {{'investors.editor.GrandNameEng' | translate }} </mat-label>
           <input matInput id="GrandNameEng" formControlName="GrandNameEng" required
             placeholder="Grand Father's Name" />

         </mat-form-field>
         <mat-form-field>
           <mat-label>{{'investors.editor.MotherNameEng' | translate}} </mat-label>
           <input matInput id="MotherNameEng" formControlName="MotherNameEng" required placeholder="Mother's Name" />
         </mat-form-field>
       </div>

           <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="profile-registration">
             <mat-form-field>
               <mat-label>{{'investors.editor.FirstNameRegion' | translate }}</mat-label>
               <input matInput id="FirstNameRegion" formControlName="FirstNameRegion" required placeholder="Name" />

             </mat-form-field>
             <mat-form-field>
               <mat-label> {{'investors.editor.FatherNameRegion' | translate }} </mat-label>
               <input matInput id="FatherNameRegion" formControlName="FatherNameRegion" required
                 placeholder="Father's Name" />

             </mat-form-field>
             <mat-form-field>
               <mat-label> {{'investors.editor.GrandNameRegion' | translate }} </mat-label>
               <input matInput id="GrandNameRegion" formControlName="GrandNameRegion" required
                 placeholder="Grand Father's Name" />

             </mat-form-field>
             <mat-form-field>
               <mat-label>{{'investors.editor.MotherNameRegion' | translate}} </mat-label>
               <input matInput id="MotherNameRegion" formControlName="MotherNameRegion" required
                 placeholder="Mother's Name" />
             </mat-form-field>
           </div>
       <div>
         <h4 class="primary-color">Address</h4>
         <mat-divider></mat-divider>
         <div formGroupName="address">
           <div fxLayout="row wrap" fxLayoutGap="2em">
             <mat-form-field fxLayoutGap="4em">
               <mat-label>{{'investors.editor.Region' | translate}}</mat-label>
               <mat-select formControlName="RegionId" (selectionChange)="filterRegion($event.value)" required>
                 <mat-option *ngFor="let reg of regions" [value]="reg.Id">
                   <span>{{reg.Description}}</span>
                 </mat-option>
               </mat-select>
             </mat-form-field>
             <mat-form-field fxLayoutGap="4em">
               <mat-label>{{'investors.editor.Zone' | translate}}</mat-label>
               <mat-select formControlName="ZoneId" (selectionChange)="filterZone($event.value)">
                 <!-- <option value="0">--</option> -->
                 <!-- <mat-option value="0">--</mat-option> -->
                 <mat-option *ngFor="let zone of filteredZones" [value]="zone.Id">
                   <span>{{zone.Description}}</span>
                 </mat-option>
               </mat-select>

               <!-- <mat-error *ngIf="zone.hasError('required')">
              {{'common.validation.Required' | translate}}
              </mat-error> -->
             </mat-form-field>
             <mat-form-field fxLayoutGap="4em">
               <mat-label>{{'investors.editor.Woreda' | translate}}</mat-label>
               <mat-select formControlName="WoredaId" (selectionChange)="filterWoreda($event.value)">
                 <!-- <option value="0">--</option> -->
                 <mat-option *ngFor="let w of filteredWoredas" [value]="w.Id">
                   <span>{{w.Description}}</span>
                 </mat-option>
               </mat-select>
             </mat-form-field>
             <mat-form-field fxLayoutGap="4em">
               <mat-label>{{'investors.editor.Kebele' | translate}}</mat-label>
               <mat-select formControlName="KebeleId">
                 <!-- <mat-option value="0">--</mat-option> -->
                 <mat-option *ngFor="let keb of filteredKebeles" [value]="keb.Id">
                   <span>{{keb.Description}}</span>
                 </mat-option>
               </mat-select>
               <!--<mat-error *ngIf="kebele.hasError('required')">-->
               <!--{{'common.validation.Required' | translate}}-->
               <!--</mat-error>-->
             </mat-form-field>
             <mat-form-field fxLayoutGap="4em">
               <mat-label>{{'investors.editor.HouseNo' | translate}}</mat-label>
               <input matInput formControlName="HouseNo" />

               <!--<mat-error *ngIf="houseNo.hasError('required')">-->
               <!--{{'common.validation.Required' | translate}}-->
               <!--</mat-error>-->
             </mat-form-field>
           </div>
           <div fxLayout="row wrap" fxLayoutGap="2em">
             <mat-form-field fxLayoutGap="4em">
               <mat-label>{{'investors.editor.Email' | translate}}</mat-label>
               <input matInput formControlName="Email" />
               <!--<mat-error *ngIf="email.hasError('required')">-->
               <!--{{'common.validation.Required' | translate}}-->
               <!--</mat-error>-->
               <!-- <mat-error *ngIf="!email.hasError('required') && email.hasError('email')">
                {{'common.validation.InvalidEmail' | translate}}
                </mat-error> -->
             </mat-form-field>
             <mat-form-field fxLayoutGap="4em">
               <mat-label>{{'investors.editor.PhoneDirect' | translate}}</mat-label>
               <input matInput formControlName="TeleNo" />
             </mat-form-field>
             <mat-form-field fxLayoutGap="4em">
               <mat-label>{{'investors.editor.PhoneMobile' | translate}}</mat-label>
               <input matInput formControlName="CellPhoneNo" />
             </mat-form-field>
             <mat-form-field fxLayoutGap="4em">
               <mat-label>{{'investors.editor.Fax' | translate}}</mat-label>
               <input matInput formControlName="Fax" />
             </mat-form-field>
             <mat-form-field fxLayoutGap="4em">
               <mat-label>{{'investors.editor.Pobox' | translate}}</mat-label>
               <input matInput formControlName="Pobox" />
             </mat-form-field>

           </div>
           <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em" class="row">
             <mat-form-field [fxFlex]="128">
               <mat-label>{{'investors.editor.OtherAddress' | translate}}</mat-label>
               <input matInput formControlName="OtherAddress" width="800px" />
             </mat-form-field>
           </div>
         </div>
       </div>
       <!---END OF Name In NAME In ENGLISH SECTION-->

       <mat-card-actions fxLayoutAlign="center end">
         <button mat-raised-button color="primary" (click)="updateProfile()">Save</button>
         <button mat-raised-button color="warn" (cancel)="cancel()">Cancel</button>
       </mat-card-actions>
     </form>
   </mat-card-content>
 </mat-card>
