 <mat-card class="mat-elevation-z8">
   <mat-card-header>
     <mat-card-title>User Profile</mat-card-title>
   </mat-card-header>
   <mat-card-content>
     <form [formGroup]="ProfileForm" novalidate (ngSubmit)="onSubmit()" fxLayout="column" autocomplete="off">
       <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="service-registration">
         <mat-form-field>
           <!-- <mat-label>{{'registration.editor.Tin' | translate}}</mat-label> -->
           <mat-label>Tin</mat-label>
           <input matInput id="Tin" formControlName="Tin" required placeholder="Tin Number" />
           <mat-error *ngIf="Tin.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error>
           <mat-error *ngIf="!Tin.hasError('required') && Tin.hasError('minlength')">
             {{'common.validation.MinLengthChar' | translate: {'min':'2'} }}
           </mat-error>
           <mat-error *ngIf="!Tin.hasError('required') && Tin.hasError('maxLength')">
             {{'common.validation.MaxLengthChar' | translate: {'min':'2'} }}
           </mat-error>
         </mat-form-field>
       </div>
       <!--- Name In Amharic Form Section-->
       <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="profile-registration">
         <mat-form-field>
           <!-- <mat-label>{{'investors.editor.Name' | translate}}</mat-label> -->
           <mat-label>{{'investors.editor.FirstNameEng' | translate}}</mat-label>
           <input matInput id="FirstName" formControlName="FirstName" required placeholder="Name" />
           <mat-error *ngIf="FirstName.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error>
           <mat-error *ngIf="!FirstName.hasError('required') && !FirstName.hasError('minlength')
                                                && FirstName.hasError('pattern')">
             {{'common.validation.UseEthiopicOnly' | translate}}
           </mat-error>

         </mat-form-field>

         <mat-form-field>
           <!-- <mat-label>{{'investors.editor.FatherName' | translate}}</mat-label> -->
           <input matInput id="FatherName" formControlName="FatherName" required placeholder="Father's Name" />
           <mat-error *ngIf="FatherName.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error>
           <mat-error *ngIf="!FatherName.hasError('required') && FatherName.hasError('minlength')">
             {{'common.validation.MinLengthChar' | translate: {'min':'2'} }}
           </mat-error>
           <mat-error *ngIf="!FatherName.hasError('required') && !FatherName.hasError('minlength')
                                                && FatherName.hasError('pattern')">
             {{'common.validation.UseEthiopicOnly' | translate}}
           </mat-error>
         </mat-form-field>
         <mat-form-field>
           <!-- <mat-label>{{'investors.editor.GrandName' | translate}}</mat-label> -->
           <input matInput id="GrandName" formControlName="GrandName" required placeholder="Grand Father's Name" />
           <mat-error *ngIf="GrandName.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error>
           <mat-error *ngIf="!GrandName.hasError('required') && GrandName.hasError('minlength')">
             {{'common.validation.MinLengthChar' | translate: {'min':'2'} }}
           </mat-error>
           <mat-error *ngIf="!GrandName.hasError('required') && !GrandName.hasError('minlength')
                                                && GrandName.hasError('pattern')">
             {{'common.validation.UseEthiopicOnly' | translate}}
           </mat-error>
         </mat-form-field>
         <mat-form-field>
           <!-- <mat-label>{{'investors.editor.MotherName' | translate}}</mat-label> -->
           <input matInput id="MotherName" formControlName="MotherName" required placeholder="Mother's Name" />
         </mat-form-field>
       </div>
       <!---END OF Name In Amharic Form Section-->
       <!--- NAME In ENGLISH SECTION-->
       <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="profile-registration">
         <mat-form-field>
           <!-- <mat-label>{{'investors.editor.FirstNameEng' | translate }}(English)</mat-label> -->
           <input matInput id="FirstNameEng" formControlName="FirstNameEng" required placeholder="Name" />
           <mat-error *ngIf="FirstNameEng.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error>
         </mat-form-field>
         <mat-form-field>
           <!-- <mat-label> {{'investors.editor.FatherNameEng' | translate }}(English) </mat-label> -->
           <input matInput id="FatherNameEng" formControlName="FatherNameEng" required placeholder="Father's Name" />
           <mat-error *ngIf="FatherNameEng.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error>
         </mat-form-field>
         <mat-form-field>
           <!-- <mat-label> {{'investors.editor.GrandNameEng' | translate }}(English) </mat-label> -->
           <input matInput id="GrandNameEng" formControlName="GrandNameEng" required
             placeholder="Grand Father's Name" />
           <mat-error *ngIf="GrandNameEng.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error>
         </mat-form-field>
         <mat-form-field>
           <!-- <mat-label>{{'investors.editor.MotherNameEng' | translate}} (English) </mat-label> -->
           <input matInput id="MotherNameEng" formControlName="MotherNameEng" required placeholder="Mother's Name" />
         </mat-form-field>
       </div>
       <!---END OF Name In NAME In ENGLISH SECTION-->
       <!--- NAME In ENGLISH SECTION-->
       <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="profile-registration">
         <mat-form-field fxLayoutGap="4em" class="col4">
           <!-- <mat-label>{{'investors.editor.Title' | translate}}</mat-label> -->
           <mat-label>Title</mat-label>
           <mat-select formControlName="Title">
             <mat-option *ngFor="let title of titleList" [value]="title.Id">
               {{title.Description}}
             </mat-option>
           </mat-select>
         </mat-form-field>
         <mat-form-field fxLayoutGap="4em" class="col4">
           <!-- <mat-label>{{'investors.editor.Gender' | translate}}</mat-label> -->
           <mat-label>Gender</mat-label>
           <mat-select formControlName="Gender" required>
             <mat-option *ngFor="let gender of genders" [value]="gender.Id">
               {{gender.Desc}}
             </mat-option>
           </mat-select>
           <mat-error *ngIf="Gender.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error>
         </mat-form-field>
         <mat-form-field fxLayoutGap="4em">
           <mat-label>Nationality</mat-label>
           <!-- <mat-label>{{'investors.editor.Nationality' | translate}}</mat-label> -->
           <mat-select formControlName="Nationality" required>
             <mat-option *ngFor="let country of countryList" [value]="country.Id">
               <span>{{country.Description}}</span>
             </mat-option>
           </mat-select>
           <mat-error *ngIf="Nationality.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error>
         </mat-form-field>
         <mat-form-field>
           <mat-label> Birth Date</mat-label>
           <input matInput id="BirthDate" 
           [matDatepicker]="BirthDate" 
           formControlName="BirthDate" required
             placeholder="Birth Name" />
           <mat-datepicker-toggle matSuffix [for]="BirthDate"></mat-datepicker-toggle>
           <mat-datepicker #BirthDate></mat-datepicker>
           <!-- <mat-error *ngIf="BirthDate.hasError('required')">
             {{'common.validation.Required' | translate}}
           </mat-error> -->
         </mat-form-field>
       </div>
       <!---END OF Name In NAME In ENGLISH SECTION-->
     
     <mat-card-actions fxLayoutAlign="center end">
       <button mat-raised-button color="primary" (click)="updateProfile()">Save</button>
       <button mat-raised-button color="warn" (cancel)="cancel()">Cancel</button>
     </mat-card-actions>
     </form>
   </mat-card-content>
 </mat-card>
